.nav-container{
    width: 100px;
    background-color: rgb(237, 194, 194);
    height: 100vh;
    position: relative;
}
.nav-bottom-container{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
@media screen and  (max-width:600px){
    .nav-container{
        display: none;
    }
}
/* NavbarLinks */
.navbarlink-container{
    padding: 4px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.navbar-link-icon{
    scale: 0.8;
    padding: 2.5px 20px;
    border-radius: 100px;
}
.navbar-link-icon:hover{
    background-color: #EEEEEE;
}
.navbar-link-icon:active{
    background-color: rgb(255, 242, 223);

}
.navbar-svg-icon:active{
    scale: 0.8;
}
.navlink-title{
    font-family: euclidCircularBMedium;
    font-size: small;
}